body{
    background-image: url(../images/northstar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.myBtn{
    font-size: 20px;
    font-weight: bold;
}
#exam-container{
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.form-check-label{
    font-size: 18px;
}
.headerOne{
    color: #fff;
}
#question{
    margin-bottom: 25px;
    font-size: 20px;
}
.headerTwo{
    color: yellow;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 50px;
}
.link{
    color: #fff;
    text-decoration: none;
}
.link:hover{
    color: yellow;
}
.timeBox{
    font-size: 22px;
}
.headerRes{
    color: #fff;
    font-size: 35px;
}